<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  </head>
  <body>
    <form method="POST" action="/users/login">
      <h1>Log In</h1>
      <label>Name</label>
      <input type="text" name="username" placeholder="email"  class="name">
      <label>Password</label>
      <input type="password" name="password" placeholder="password"  class="password">
     <button type="submit" class="btn btn-primary btn-block" >Login</button>
    </form>
  </body>
</html>