<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
</head>

<body style="font-size:20px; padding:100px;">
  <form method="POST" action="/users/register" class="user">
      <h1>Registration</h1>
      <label>Name: </label>
      <input type="text" name="username" placeholder="Your Name is..." class="name" required="required">
      <label>Password</label>
      <input type="password" name="password" placeholder="password"  class="password" required="required">
      <button type="submit" class="btn btn-success btn-block" >Register</button>
  </form>
</body>
</html>