/*
 * Nav layout stuff
 */

#nav-bar {
  padding: 10px;
  color: #e8fdff;
  background-color: #00a087;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 80px; /* Nav height */
}

#nav-bar .logo {
  width: 60px;
  height: 60px;
  float: left;
}

#nav-bar .header {
  margin-left: 10px;
  font-size: 24px;
  line-height: 60px;
}

#nav-bar .left-contents {
    float: right;
}

#nav-bar button {
  background-color: #FFFFFF;
  border: 1px solid;
  border-radius: 5px;
  color: green;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 7px;
  padding: 10px;
}


#nav-bar button:hover {
  background-color: #eee;
  color: #005400;
}
